
<footer>
    <section class="footer">
        <div class="container-fluid " style="background-color: #495867">
            <footer class="text-center text-white ">
                <div class="container-fluid">
                    <section class="">
                        <div class="row text-center d-flex justify-content-center">
                            <div class="col-md-3">
                                <h6 class="text-uppercase font-weight-bold">
                                    <a href="mailto: kibiezekiel@gmail.com" target="_blank" class="text-white"><i
                                            class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                                </h6>
                            </div>

                            <div class="col-md-3">
                                <h6 class="text-uppercase font-weight-bold">
                                    <a href="http://wa.me/+254722991833" target="_blank" class="text-white"><i
                                            class="fab fa-whatsapp fa-2x"></i></i>
                                    </a>
                                </h6>
                            </div>

                            <div class="col-md-3">
                                <h6 class="text-uppercase font-weight-bold">
                                    <a href="https://twitter.com/KibiegoEzekiel" target="_blank" class="text-white"><i
                                            class="fab fa-twitter fa-2x"></i></i></a>
                                </h6>
                            </div>

                            <div class="col-md-3">
                                <h6 class="text-uppercase font-weight-bold">
                                    <a href="https://www.facebook.com/kibiego.ezekiel.9" target="_blank"
                                        class="text-white"><i class="fab fa-facebook fa-2x"></i></a>
                                </h6>
                            </div>

                        </div>
                        <section class="">
                            <div class="row d-flex justify-content-center">
                                <div class="col">
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </section>

                </div>

                <div class="" style="background-color: #495867">
                    © 2022 Copyright:
                    <a class="text-white" href="/">neighborhood.com</a>
                </div>

            </footer>

        </div>
    </section>
</footer>