{%extends "base.html"%}
{% load bootstrap4 %}
{% block content %}

<style>
    body{
    font-family: 'Lato', global_font_string;
    font-weight: 500;
    background-image: url(/static/images/pexels-daniel-frank-688835.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(10, 9, 9);
    
    }
    p{
        color: rgb(17, 16, 16);
        font-size: xx-large;
    }
</style>

<div class="container-fluid">

    <div class="home">
        <h1 class="text-center mt-5">Welcome to The Neighborhood</h1>
        <div class="" style=" margin: 2%; padding: 5%;">

            <div class="forms">
                <form class="me-auto search-form " target="_self" action="{% url 'search' %}">
                    <div class="input-group ">

                        <input type="text" class="form-control" placeholder="Search Business by name"
                            name="search_term">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"
                                    style="color: white;"></i></button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="text-center">
            
            
            <p>One day  some of the kids from my neighbourhood carried  <br> my mothers groceries all the wy home. You know why? <br> It was out of respect<br> 
    
               </p> 
           <h3>~ Henry Hill</h3>
           <br>

           <form action="/create_hood" class="mb-3">
            <input type="submit" class="btn btn-outline-dark bg-#495867 text-white rounded-pill b-text"
                value="Add Your Neighborhood" />
           </form>

        </div>
        
        


    </div>
</div>

{% endblock %}